body{
    background-color: cornflowerblue;
    font-family: 'Roboto', sans-serif;
}

.reg{
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

button{
    background-color: #D64545;
    margin-top: 30px;
    border-radius: 8px;
    width: 252px;
    height: 27px;
    border: 0;
}

input{
    margin-top: 30px;
    border-radius: 8px;
    width: 250px;
    height: 25px;
    background-color: #C4C4C4;
    border: 0;
}

input::placeholder{
    color: black;
    padding-left: 15px;
}

.div-checkbox > input{
    width: 15px;
    height: 15px;
    border-radius: 10px;
}

input:active{
    background-color: white;
}

button:active{
    background-color: chartreuse;
}

 :active, :hover, :focus{
    outline: 0;
    outline-offset: 0;
 }